@import "fonts";

html {
  position: relative;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 68px;
  font-family: Arial, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  background-color: #000;
  background-image: linear-gradient(181.78deg, rgba(0, 0, 0, 0) 49.38%, rgba(0, 0, 0, 0.42) 98.49%),
    url("../../public/img/bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 96px;
    background-image: url("../../public/img/geralt-bg.png");
    background-repeat: no-repeat;
    background-position:  right bottom;
    z-index: -1;
  }

  @media (max-width: 1000px) {
    font-size: 16px;

    &:before {
      right: 0;
    }
  }

  @media (max-width: 768px) {
    &:before {
      height: 448px;
      top: 109px;
      background-size: contain;
    }
  }

  @media (max-width: 576px) {
    font-size: 12px;

    &:before {
      height: 50vh;
      top: 49px;
    }
  }

  @media (max-width: 320px) {
    &:before {
      height: 60vh;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

h1, h2, h3, h4, h5, p, figure {
  margin: 0;
}

button {
  font-family: inherit;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

iframe {
  border: none;
}

.logo {
  width: 93px;
  height: 85px;

  @media (max-width: 576px) {
    width: 45px;
    height: 41px;
  }
}
